vendor/
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# exclude .gitkeep files
*.gitkeep

# exclude generated asset files
assets

# tests
tests/